/*  Matthew DiVito Gif */
.sts-loader {
	background-image: url('http://payload71.cargocollective.com/1/3/111325/3721505/trigon.gif');
}

.sts-song-info {
  	text-overflow: ellipsis;
	letter-spacing: 3px;
}

.sts-controls {
	height:100%;
    white-space: nowrap;
	text-align: center;
	font-family: 'FontAwesome', sans-serif;
	font-size: 80px;
}

.sts-control {
	height:100%;
	background: none;
}

.sts-control-icon {
	display:none;
}

.sts-control:hover {
	background: rgba(0, 0, 0, 0.3);
}

.sts-control-background {
	background: rgba(0, 0, 0, 0.3);	
}

.sts-control:hover .sts-control-icon {
	display:block;
}

.sts-control-hide-during-pause {}
.sts-control-hide-during-play {}

.sts-song-image-blurred {
}

.sts-song-image {
	background-image: url("http://4.bp.blogspot.com/-ulccXu67lCI/Uh3Di6eteTI/AAAAAAAABwE/io4HtxeZUTk/s1600/575200_550172201687130_1403430047_n.jpg");
}

.sts-player {
}

.sts-footer-text {
	margin-top: 4px;
}