
/* Color Definitions
	rgba(255, 255, 255, 1)	//Text Default Color
	rgb(255, 221, 33)		//Text Rollover Color
	#1D1D26					//Background
	rgba(20, 20, 20, 1)		//Header and Footer
*/

/* Basic Overrides */
html {
    height: 100%;
}
body {
    height:100%;
    min-height: 100%;

    background-color: #1D1D26;
    color:rgba(255, 255, 255, 1);

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
a { text-decoration: none !important; }
a:link {color:rgba(255, 255, 255, 1);}      /* unvisited link */
a:visited {color:rgba(255, 255, 255, 1);}  /* visited link */
a:hover {color:rgb(255, 221, 33);}  /* mouse over link */
a:active {color:rgb(255, 221, 33);}  /* selected link */

/* Alignment */
.align-vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.align-horizontal-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

/* Text Transformations */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

/* Image transformations */
.background-cover {
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.background-contain {
    background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

.background-fill {
	background-size: 100% 100%;
}

/* Page blocks */
.header {
    width:100%;
    top:0px;
    left:0px;
    background-color: rgba(20, 20, 20, 1);
    max-height: 30px;
    height:30px;
    position:absolute;
}

.content {
	margin-top: 30px;
	width: 100%;
	position:absolute;
    height: calc(100% - 60px);
    overflow:hidden;
}

.footer {
    width:100%;
    bottom:0px;
    left:0px;
    position:absolute;
    background-color: rgba(20, 20, 20, 1);
    height: 30px;
	font-size: 14px;
}

/* Filters */
.filter-blur {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
}

/* Helpers */
.fill {
	width:100%;
	height:100%;
	position:absolute;
}

.selection-disabled
{
	cursor: default;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

/* platform specific */
.visible-xs,
.visible-sm,
.visible-md {
  display: none !important;
}
@media (max-device-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1199px) {
  .visible-sm {
    display: block !important;
  }
}
@media (min-device-width: 1200px) {
  .visible-md {
    display: block !important;
  }
}