/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	max-height: 100%;
	overflow: hidden;
}

.container
{
	width: 100%;
	margin: 0px auto;
	overflow: hidden;
	background-color: #1d1d26 ;
	height: 100%;
	position: absolute;
	top: 0px;
}

.loader
{
	width:100%;
	height:100%;
	position: absolute;
	background-size: 100% 100%;
	background-image: url('http://payload71.cargocollective.com/1/3/111325/3721731/cycloid.gif');
}

.player
{
	width:100%;
	height:100%;
	position: absolute;
    background-repeat: no-repeat;
	background-size: contain;
}

.top_bar
{
	background-color: rgba(0,0,0,0.7);
	position: relative;
	margin:0px auto;
	top:0px;
}

/* Position slider style */
.slider 
{
	position:absolute;
	width:100%;
	height:8px;
	top:42px;
	border:none!important;
	border-radius:0!important;
	background:rgba(0,0,0,0.6)!important;
}
.ui-slider-range
{
	border:none!important;
	border-radius:0!important;
	/*background:rgba(255,255,255,0.25)!important;*/
	background:hsla(329, 84%, 60%, 0.5)!important;
}
.ui-slider-handle 
{
	display: none;
}

.controls
{
	position: absolute;
	top: 0px;
	width: 90px;
	margin-left:calc(100% - 95px);
	height: 100%;
	margin-top: 2px;
}

.control
{
    white-space: nowrap;
    color:#cccccc;
	text-align: center;
	font-family: 'FontAwesome', sans-serif;
	font-size: 20px;

	margin-top:10px;
	position: relative;
	float:left;
 	width: 30px;
 	height: 30px;
}

.control:hover
{
    color:#ffffff;
}

.control_share
{
	position: absolute;
	top:2px;
	margin-left: calc(100% - 70px);
}

.song_info
{
	position: absolute;
	top: 0px;
	width: calc(100% - 100px);

	color: #ffffff;
    white-space: nowrap;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
	font-weight: 300;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.song_info a { text-decoration: none !important; }
.song_info a:link {color:#ffffff;}      /* unvisited link */
.song_info a:visited {color:#ffffff;}  /* visited link */
.song_info a:hover {color:rgb(255, 221, 33);}  /* mouse over link */
.song_info a:active {color:rgb(255, 221, 33);}  /* selected link */

.shuffle_controls
{
	width: 100%;
	height: 140px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: calc(50% - 105px + 70px);
}

.page_title
{
	width: 100%;
	text-align: center;
	display: block;
	color: #ffffff;
	text-transform: lowercase;
	text-decoration: none;
	font-style: italic;
	font-weight: 600;
	font-family: "Cantarell";
    white-space: nowrap;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	top: calc(50% - 121px);
}

.url_input_box_container
{
	position: relative;
	float: center;
}

.url_input_box
{
	border:none;
	outline:none;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	height: 45px;
	position: relative;
	float: center;
	display:block;
	color: rgb(255, 173, 215);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: rgba(0, 0, 0, 0.5);
}

.url_input_box:hover
{
	border:1px solid;
	border-color: #aaaaaa;
}

.url_input_box:focus
{
	border:1px solid;
	border-color: #cccccc;
}

.submit_button
{
	width: 250px;
	height: 36px;
	margin:10px auto;
	background-color: hsla(329, 84%, 55%, 0.8);
	position: relative;
	float: center;
	z-index: 2;
	border:1px solid;
	border-color: rgba(0,0,0,0);
}

.submit_button:hover
{
	background-color: hsla(329, 84%, 60%, 0.8);
}

.submit_button .label
{
	font-family: 'Cantarell';	
	font-weight: 400;
	font-size: 18px;
	color: #eeeeee;
	letter-spacing: 3px;
	text-align: center;
	margin:8px 10px;
}

.bottom_bar
{
	width:100%;
	height:24px;
	background-color: rgba(0,0,0,0.7);

    right: 0;
    position: fixed;
    bottom: 0;

    color: rgba(255,255,255,0.45);
	text-transform: lowercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: 100;
	font-family: "Cantarell";
	padding-top: 10px;
}

.section_left
{
	position:absolute;
	top:5px;
	width:100%;
    text-align: left;
}

.hand_cursor
{
	cursor: pointer !important;
}

.unselectable
{
	cursor: default;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.section_center
{
	position:absolute;
	width:100%;
    text-align: center;
}

.section_right
{
	position:relative;
	float:right;
	padding-right:5px;
    text-align: right;
}

.share_container
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: 100;
	background-color: rgba(255,255,255,0.8);
}

.share_panel
{
	position:fixed;
	left:50%;
	top:50%;
	margin-left: -300px;
	margin-top: -90px;
	width: 600px;
	height: 180px;
	background-color: rgba(255,255,255,1);

	color:#444444;
	font-size: 40px;
	font-weight: 400;
	font-family: "Cantarell";
    white-space: nowrap;
    text-align: center;
}

.share_title
{
	margin-top:26px;
}

.share_link
{
	margin-top:40px;
	height:32px;
	width: 75%;

	font-family: "Cantarell";
	font-weight: 400;
	color:hsl(329, 84%, 55%);
	font-size: 20px;
}